
.board{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    background-color: gray;
    min-width: 375px;
    min-height: 560px;
}

.tile{
    background-color: white;
    border-radius: 0px;
    border: none;
    display: block;
    font-size: 6rem;
    place-items: center;
    text-align: center;
    font-family: 'Arial'
}