#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* SEARCH PAGE */
.gallery{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding-top: 1rem;
}

.search-field{
  width: 35%;
  text-align: center;
  font-size: 1.5rem;
  border: 1px solid black;
  border-radius: 5px;
}

.card{
  padding: 1rem;
  font-size: 1rem;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
}




@media only screen and (max-width: 500px){
  .search-field{width: 50%;}
  .gallery{grid-template-columns: 1fr}
}

@media only screen and (min-width: 500px){
  .search-field{width: 45%;}
  .gallery{grid-template-columns: 1fr 1fr}
}

@media only screen and (min-width: 780px){
  .search-field{width: 40%;}
  .gallery{grid-template-columns: 1fr 1fr 1fr}
}

@media only screen and (min-width: 1000px){
  .search-field{width: 38%;}
  .gallery{grid-template-columns: 1fr 1fr 1fr 1fr}
}




/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */
